.para{
    font-size: large;
    color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    color:blueviolet;
    font-family: 'Times New Roman', Times, serif;
}
.blog{
    background-color: darkcyan;
    border: 10px double;
    border-color:cornsilk;
    padding:0px 20px 10px ;
    margin:0px 20px 30px;
    border-top-right-radius:30px ;
    border-bottom-left-radius:30px ;
    box-shadow: 5px 10px 8px #888888 ;
}
